# Build artifacts
[Bb]in/
[Oo]bj/
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Mobile / MAUI
*.apk
*.ap_
*.aab
*.dex
*.class
build/
DerivedData/
*.moved-aside


appsettings.Development.json
appsettings.*.json


.DS_Store
Thumbs.db


.agent/
.git - copy/

backend/PoiApi/appsettings.Development.json

**/appsettings.Development.json
**/appsettings.json